<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>macmpv</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mkv</string>
				<string>mov</string>
				<string>avi</string>
				<string>webm</string>
				<string>m4v</string>
				<string>ts</string>
				<string>m2ts</string>
				<string>mp3</string>
				<string>flac</string>
				<string>wav</string>
				<string>m4a</string>
				<string>ogg</string>
				<string>m3u8</string>
				<string>magnet</string>
				<string>torrent</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>macmpv</string>
	<key>CFBundleIconFile</key>
	<string>macmpv.icns</string>
	<key>CFBundleIdentifier</key>
	<string>local.macmpv.player</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>macmpv</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>BitTorrent Magnet Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>magnet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20260816</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
